@import "./lengths";

.g4u-desktop {
  .g4u-toolbox {
    height: @g4u-desktop-button-size;
    border-radius: @g4u-desktop-large-border-radius;

    .g4u-toolbox-item {
      min-width: @g4u-desktop-button-size;
      display: inline-block;
      padding-left: @g4u-desktop-padding;
      vertical-align: text-top;
      overflow: hidden; // fixes chrome width bug
    }

    .g4u-toolbox-item-first {
      padding-left: 0;
      border-bottom-left-radius: @g4u-desktop-small-border-radius;
      border-top-left-radius: @g4u-desktop-small-border-radius;

      > button {
        border-bottom-left-radius: @g4u-desktop-small-border-radius;
        border-top-left-radius: @g4u-desktop-small-border-radius;
      }

      .g4u-control-mainbutton {
        border-bottom-left-radius: @g4u-desktop-small-border-radius;
        border-top-left-radius: @g4u-desktop-small-border-radius;
      }
    }

    .g4u-toolbox-item-last {
      border-bottom-right-radius: @g4u-desktop-small-border-radius;
      border-top-right-radius: @g4u-desktop-small-border-radius;

      > button {
        border-bottom-right-radius: @g4u-desktop-small-border-radius;
        border-top-right-radius: @g4u-desktop-small-border-radius;
      }

      .g4u-control-mainbutton {
        border-bottom-right-radius: @g4u-desktop-small-border-radius;
        border-top-right-radius: @g4u-desktop-small-border-radius;
      }
    }
  }
}